# ______ Backend _______
FLASK_MODE=development
SECRET_KEY=your-secret-key-here

# Ports
BACKEND_PORT=2222
FRONTEND_PORT=1111
DB_EXPOSED_PORT=5432

# Database
DB_USER=your-db-username
DB_PASSWORD=your-db-password
DB_NAME=OpenW
DB_HOST=db
DB_PORT=5432
