flask
flask-cors
flask-login
flask-sqlalchemy
psycopg2-binary
pgvector
python-dotenv
gunicorn
greenlet==3.3.2
SQLAlchemy==2.0.48
typing_extensions==4.15.0
marshmallow
flask-marshmallow
groq
requests
sentence-transformers
